@model MvcXmlDemo.Models.Category

<!DOCTYPE html>

<html>
<head>
    <title>Restored Category Info</title>
</head>
<body>
    @ViewBag.Message
    <p>@Model.CategoryId @Model.Description</p>
</body>
</html>

